<div class="form" id="confirm" style="z-index:2; padding-top: 50px;" data-display="none">
    <div class="modal-content" style="width:350px;">
        <div class="modalFormTopBar">
            <div class="title" style="width:250px;"></div>
            <div class="button">
                <button id="close" title="Закрыть">×</button>
            </div>
        </div>
        <div style="height: 10px;"></div>
        <div class="container" style="margin-left:10px;"></div>
        <div class="modalFormBottomButtonBar">
            <button id="ok">ОK</button>
            <button id="cancel">Отмена</button>
        </div>
    </div>
</div>
