<div class="form" id="home" style="margin-left:10px; padding-top:10px; width:98%;">
    <div style="min-width:400px;">
        Это демо простого web-приложения с использованием:
        <ul>
            <li>JavaScript, Ajax</li>
            <li>Servlet</li>
            <li>JDBC</li>
            <li>JasperReports</li>
            <li>REST</li>
            <li>SOAP</li>
            <li>MQ</li>
        </ul>
        Включает следующие функции:
        <ul>
            <li>Аутентификацию</li>
            <li>Сохранение пользовательской информации в cookies</li>
            <li>Аудит</li>
            <li>Просмотр списка клиентов</li>
            <li>Создание клиента</li>
            <li>Редактирование клиента</li>
            <li>Просмотр списка заявок</li>
            <li>Создание заявки</li>
            <li>Отмена заявки</li>
            <li>Формирование отчета по заявкам</li>
            <li>Работа с заявками через REST</li>
            <li>Работа с заявками через SOAP</li>
            <li>Работа с заявками через MQ</li>
            <li>Ведение интеграционного лога</li>
            <li>
                Выполнение автоматического задания по обработке заявок (отмена)
            </li>
        </ul>
    </div>
</div>
